<h1>Home Page</h1>

{{#unless  user}}
    <a href="/users/login">Login</a><br>
    <a href="/users/register">Register</a><br>
{{/unless }}

{{#if user}}
    Hi, {{user.email}}<br>
    <a href="/users/logout">Logout</a><br>
{{/if}}